<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.valera.angel.solobiciangelvalera" >
<uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme">
        
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Juego"
            android:label="Juego..." >
        </activity>
        <activity
            android:name=".Preferencias"
            android:label="Preferencias..." >
        </activity>
        <activity
            android:name=".Puntuaciones"
            android:label="Puntuaciones"
            android:theme="@android:style/Theme.Dialog" >
        </activity>
        <activity
            android:name=".Preguntas"
            android:label="@string/title_activity_preguntas" >
        </activity>

    </application>

</manifest>
